<%# <%= render "shared/header" %> 


<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Bouldering</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <header>
    <div class="top-header">
      <h1>Bouldering Record</h1> 
      <%= link_to image_tag('IMG_3923.jpg'), root_path%>
    </div>
    <div class="nav">
      <ul class="sign-up">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>
  </header>

  <body>
      <h2>Bouldering Record(ボルレコ)とは？</h2>
      

      <div class="problem-contents">
        <% @problem.each do |problem| %>
        <li class="list">
          <%= link_to problem_path(problem.id) do %>
          <div class="problem-img-content">
              <%= image_tag problem.image, size: '200x200', class: "problem-img" %>
              <% end %>

          </div>
         
        
        <div class="problem-info">
          <div class="problem-name">
            <%= problem.setter %>
          </div>
          <div class="problem-grade">
            <%= problem.grade.name %>
          </div>
          <div class="problem-user">
            <%= problem.user.name%>
          </div>
        </div>
      
      
      
       <% end %>
      
      </div>

      <%= link_to(new_problem_path, class: 'problem-btn') do %>
        <span class='problem-btn-text'>投稿する</span>
        <%= image_tag 'IMG_3923.jpg' , size: '185x50' ,class: "problem-btn-icon" %>
      <% end %>

      
  </body>
</html>
