<div class="problem-show">
  <div class="problem-box">
    <div class="item-img-content">
      <%= image_tag @problem.image,size: '200x200', class:"item-box-img" %>
    </div>

    <div class="name">
      <%= @problem.setter %>
    </div>
    <div class="item-price-box">
      <span class="item-postage">
        <%= @problem.grade.name %>
      </span>

      <%= @problem.area %>
      <%= @problem.memo %>
      <%= @problem.user.name %>
      <%= @problem.climb_done.name %>


      <%if current_user == @problem.user %>
          <%= link_to "商品の編集", edit_problem_path, method: :get, class: "problem-red-btn" %>
          <p class="or-text">or</p>
          <%#= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
        <% end %>

    </div>